/* .contact{
  background-color: lightblue;
  padding: 50px;
  text-align: center;
}

.image{
  width: 600px;
  height: 600px;
  
} */

#div1{
  margin-top: 100px;
} 

#div1 h1{
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;

}

#div1 p{
  font-size: 20px;
  color: rgb(136, 133, 133);
}

#div2 img{
  width: 600px;
  height: 475px;
  z-index: 1;
  position: relative;
  left: 100px;
}


#maindiv{
  display: flex;
  justify-content: space-evenly;
}

#div1 button{
  width: 200px;
  height: 50px;
  background-color:blue;
  
  border-radius: 5px;
}

#seconddiv{
  width: 600px;
  padding-left: 100px;
  display: flex;
  justify-content: space-around;
  color: purple;
}

nav{
  padding-left: 150px;
  display: flex;
  align-items: center;
  gap: 200px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 80px;

}

#seconddiv1{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
  text-align: center;
}

#seconddiv1 p{
  color: rgb(91, 89, 89);
}


#thirddiv{
  height: 550px;
  width: 720px;
  background-color:rgb(225, 11, 225);
  position: absolute;
  top: 0px;
  left: 800px;
  border-top-left-radius: 10000px;
  border-bottom-left-radius: 2000px;
  
  
}